body{
    background-color: #e5cec6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212124;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin: 1% 10%;
}
.header h1{
    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
    color: #212124;
    margin: 0;
}

.header .intro{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.25em;
}

.container{
    background-color: #212124;
    color: #e5cec6;
    width: 80%;
    margin: 2% auto;
    padding: 2% 3%;
    border-radius: 1.5em;
}

.container h2{
    font-size: 2em;
    text-align: center;
    background-color: #e5cec6;
    color: #212124;
    width: 80%;
    border-radius: .25em;
    margin: 2% auto;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.columns .caption{
    flex: 2;
}
.columns div{
    flex: 2;
}
.caption{
    text-align: justify;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25em;
}

.highlight{
    font-weight: bold;
    color: #a6d2d4;
}

#vis1{
    margin-left: 13%;
    margin-right: 10%;
}

.map .caption{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 2%;
}

.footer{
    color: #212124;
    width: 80%;
    margin: 2% auto;
    border-radius: 1.5em;
    text-align: center;
}